* {
	font-size: 5vw;
	color: #333;
}

body {
	background-color: #f4f4f4;
}

a,
a:visited {
	text-decoration: none;
}

/* 顶部搜索栏 */
header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 10.67vw;
	background-color: #ffd676;
	z-index: 100;
}

.logo {
	margin: 0;
	width: 9vw;
	height: 9vw;
}

.search {
	position: relative;
	width: 66vw;
	height: 8vw;
	background-color: #fff;
	border-radius: 15px;
}

.search input {
	width: 66vw;
	height: 8vw;
	line-height: 8vw;
	background-color: #fff;
	border: 0;
	border-radius: 15px;
	font-size: 4vw;
	text-indent: 1em;
	outline: 0;
}

.search input::placeholder {
	text-indent: 1em;
	font-size: 4vw;
}

.search .icon-sousuo {
	position: absolute;
	top: 1.6vw;
	right: 3vw;
}

.header_btn {
	font-size: 4.5vw;
}

/* banner轮播图 */
.banner {
	margin: 14vw auto 2vw;
	width: 94vw;
	height: 37vw;
	border-radius: 10px;
	overflow: hidden;
}

.banner img {
	width: 94vw;
	height: 37vw;
}

/* nav导航栏 */
nav {
	margin: 3vw auto;
	width: 94vw;
	height: 45vw;
	border-radius: 10px;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: space-evenly;
	margin: 0;
	padding: 0;
	width: 94vw;
	height: 45vw;
	border-radius: 10px;
	list-style: none;
}

nav ul li {
	width: 18%;
	height: 43%;
	-webkit-tap-highlight-color: transparent;
}

nav ul li a {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
}

nav ul li a span {
	font-size: 3vw;
	color: #555;
}

/* section幸运秒杀 */
section {
	margin: 3vw auto;
	width: 94vw;
	height: 36vw;
	background-color: #fff;
	border-radius: 10px;
}

section .secTitle {
	display: flex;
	align-items: center;
	width: 94vw;
	height: 10vw;
}

section .secTitle .title {
	margin: 0 3vw;
	font-size: 4vw;
	font-weight: 700;
	color: #555;
}

section .secTitle .secTime {
	width: 25vw;
	height: 5vw;
	text-align: center;
	line-height: 5vw;
	border-radius: 5px;
	background-color: #f2270cd2;
	font-size: 3.5vw;
	color: #fff;
}

section .secInfo {
	margin: 2vw auto;
	width: 90vw;
	height: 21vw;
	overflow: hidden;
}

/* 走马灯 */
/*动画位移*/
@keyframes miaosha {
	to {
		transform: translateX(-120vw);
	}
}

section .secInfo ul {
	display: flex;
	margin: 0 2vw;
	padding: 0;
	width: 90vw;
	height: 21vw;
	list-style: none;
	animation: miaosha 18s infinite linear;
}

section .secInfo ul li {
	width: 15vw;
	height: 21vw;
}

section .secInfo ul li a {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 15vw;
	height: 21vw;
	-webkit-tap-highlight-color: transparent;
}

section .secInfo ul li a img {
	width: 14vw;
}

section .secInfo ul li a .price {
	font-size: 3.5vw;
	color: #f2270c;
}

/* 网页内容content */
.cont_left,
.cont_right {
	float: left;
	width: 46vw;
	margin: 2vw 0 16vw 3vw;
}

/*商品卡片*/
.goodsBox {
	width: 46vw;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 3vw;
}

.goodsBox a {
	display: flex;
	flex-direction: column;
	width: 46vw;
}

.goodsBox a .goodsImg {
	width: 46vw;
	margin-bottom: 2vw;
}

.goodsBox a .goodsName {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-size: 4vw;
	color: #333;
	margin: 0 2vw 2vw;
}

.goodsBox a .goodsPrice {
	font-size: 5vw;
	color: #F2270C;
	margin: 0 2vw 2vw;
}

.goodsBox a .goodsInfo {
	font-size: 3vw;
	color: #a4a4a4;
	margin: 0 3vw 2vw;
}

.goodsBox a .goodsFlag {
	width: 9vw;
	height: 5vw;
	background-color: #fab922;
	font-size: 3vw;
	color: #fff;
	margin: 0 3vw 2vw;
	text-align: center;
	line-height: 5vw;
	border-radius: 5px;
}

/* 底部导航栏 */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 13vw;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 -3px 10px 1px rgba(0, 0, 0, .2);
}

footer ul {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 13vw;
	list-style: none;
}

footer ul li {
	width: 25%;
	height: 100%;
}

footer ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

footer ul li:first-child a i,
footer ul li:first-child a span {
	color: #f0ba3e;
	font-weight: 700;
}

footer ul li a span {
	margin-top: 5px;
	font-size: 3vw;
}