* {
	font-size: 5vw;
	color: #333;
}

body {
	background-color: #f4f4f4;
}

a,
a:visited {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
/* 顶部搜索栏 */
header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 10.67vw;
	background-color: #ffd676;
	z-index: 100;
}

.logo {
	margin: 0;
	width: 9vw;
	height: 9vw;
}

.search {
	position: relative;
	width: 66vw;
	height: 8vw;
	background-color: #fff;
	border-radius: 15px;
}

.search input {
	width: 66vw;
	height: 8vw;
	line-height: 8vw;
	background-color: #fff;
	border: 0;
	border-radius: 15px;
	font-size: 4vw;
	text-indent: 1em;
	outline: 0;
}

.search input::placeholder {
	text-indent: 1em;
	font-size: 4vw;
}

.search .icon-sousuo {
	position: absolute;
	top: 1.6vw;
	right: 3vw;
}

.header_btn {
	font-size: 4.5vw;
}
/* 分类主体  */
.aui-scroll-contents {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 auto;
	max-width: 750px;
}

.aui-scroll-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 44px;
	padding-bottom: 44px;
}

.aui-scroll-nav {
	width: auto;
	height: 100%;
	text-align: center;
	background-color: #f2f4f5;
	-webkit-overflow-scrolling: touch;
	position: relative;
	z-index: 1;
	color: #222;
	overflow-y: auto;
}

.aui-scroll-item {
	padding: 0 10px;
	height: 3rem;
	line-height: 3rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	z-index: 1;
	font-size: .8rem;
	text-align: center;
}

.aui-scroll-item-text {
	font-size: 0.8rem;
	color: #222;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	text-align: center;
}

.aui-scroll-content {
	height: 100%;
	background-color: #FFF;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 .5rem .5rem .5rem;
	position: relative;
}

.aui-scroll-content-item {
	padding-top: 15px;
}

.aui-scroll-content-title {
	height: 2rem;
	line-height: 2rem;
	font-size: .8rem;
	color: #000000;
	display: block;
	padding-bottom: .1rem;
	padding-top: .32rem;
	margin-bottom: .2rem;
	position: relative;
	z-index: 1;
	background-color: #ffd147;
	border-radius: 2vw;
	text-align: center;
	font-weight: bold;
	letter-spacing: 10px
}

.aui-crt {
	background-color: #FFF;
	border-left: 2px solid #ffd147;
}

.aui-scroll-nav .aui-crt .aui-scroll-item-text {
	color: #ffd147;
}

.aui-class-img img {
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	border-radius: 2vw;
}
/* 九宫格 */
.aui-grid-content {
	width: 100%;
	background-color: #ffffff;
	display: table;
	table-layout: fixed;
}

.aui-grid-row {
	overflow: hidden;
	margin: 0;
	padding: 10px 0;
}

.aui-grid-row-item {
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding: 0.4rem 0;
	width: 20%;
	float: left;
}

.aui-grid-row-label {
	display: block;
	font-size: 0.7rem;
	position: relative;
	color: #222;
	margin-top: 5px;
}
/* 九宫格的 宽度 改变 从20%  改成 25% */
.aui-grid-row-clear .aui-grid-row-item {
	width: 33.333%;
	padding: .8rem 0 0 0;
}

.aui-grid-row-clear .aui-grid-row-item .aui-icon-large {
	width: 60px;
	height: 60px;
}

/* 九宫格 图标 改 图片  */
.aui-grid-row-clear .aui-grid-row-item i img {
	width: 100%;
	height: 100%;
	display: block;
	border: none;
}
::-webkit-scrollbar{
	display: none;
}
/* 底部导航栏 */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 13vw;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 -3px 10px 1px rgba(0, 0, 0, .2);
}

footer ul {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 13vw;
	list-style: none;
}

footer ul li {
	width: 25%;
	height: 100%;
}

footer ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

footer ul li:nth-child(2) a i,
footer ul li:nth-child(2) a span {
	color: #f0ba3e;
	font-weight: 700;
}

footer ul li a span {
	margin-top: 5px;
	font-size: 3vw;
}