* {
	margin: 0;
	padding: 0;
	font-size: 5vw;
	color: #333;
}
li,
ul {
	list-style: none
}
a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
em {
	font-style: normal
}
img {
	max-width: 100%;
	vertical-align: middle
}
body {
	background-color: #f4f4f4;
}
/* 顶部返回首页 */
header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 10.67vw;
	padding-left: 3vw;
	z-index: 100;
	background-color: #ffd676;
	justify-content: space-between;
}
header i{
	display: flex;
	align-items: center;
	font-size: 6vw;
}
header span{
	font-size: 4vw;
}
header a img{
	margin-right: 6vw;
	margin-bottom: 1vw;
	width: 6vw;
}
/* 商品列表栏 */
.product {
	width: 100%;
	margin: 2vw auto;
	background-color: #fff;
	margin-top: 12vw;
	margin-bottom: 29vw;
}

.product .product-box {
	width: 100%;
	height: 5.8rem;
	position: relative
}

.product-box .product-ckb {
	width: 3rem;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 5.9rem;
	z-index: 99;
	position: absolute
}

.product-ckb em {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	border: 1px solid #B8B4B4;
	display: inline-block;
	cursor: pointer
}

.product-ckb .product-xz {
	background: url(../img/categoty/gouico.png) no-repeat 0 0;
	background-size: 1.1rem;
	border: 0;
	display: inline-block
}

.product-sx {
	float: left;
	height: 5.8rem;
	padding: .6rem 0;
	border-bottom: 1px solid #e1e1e1;
	padding-left: 3rem;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0
}

.product-sx .product-img {
	width: 4.5rem;
	height: 4.5rem;
	display: inline-block;
	float: left
}

.product-sx .product-name {
	font-size: .8rem;
	color: #000;
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	padding-left: 10px
}

.product-sx .product-price {
	font-size: 1rem;
	color: #ffd147;
	margin: 18px 0 0 14px;
	display: inline-block;
	float: left
}

.product-amount {
	position: absolute;
	right: 15px;
	bottom: 10px
}

.product_gw {
	border: 1px solid #dbdbdb;
	width: 110px;
	line-height: 25px;
	overflow: hidden;
	font-size: .6rem
}

.product_gw em {
	display: block;
	height: 25px;
	width: 35px;
	float: left;
	color: #7A7979;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer
}

.product_gw .product-num {
	display: block;
	float: left;
	text-align: center;
	width: 38px;
	font-style: normal;
	font-size: 12px;
	line-height: 25px;
	border: 0;
	pointer-events: none
}

.product_gw em.product-add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb
}

.product-del {
	width: 1.15rem;
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 8px;
	cursor: pointer
}
/* 统计和结算栏 */
.product-js {
	width: 100%;
	height: 15vw;
	display: inline-block;
	position: fixed;
	bottom: 13vw;
	border-top: 1px solid #bfbfbf;
	line-height: 3rem;
	max-width: 640px;
	background: #fff;
	z-index: 99;
	box-shadow: 0 -3px 10px 1px rgba(0, 0, 0, .2);
}

.product-al {
	display: inline-block;
	height: 3rem;
	width: 7.5rem
}

.product-js .product-all {
	width: 3rem;
	height: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	line-height: 3.5rem
}

.product-js .product-all em {
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	border: 1px solid #B8B4B4;
	display: inline-block;
	cursor: pointer
}

.product-js .product-all .product-all-on {
	background: url(../img/categoty/gouico.png) no-repeat 0 0;
	background-size: 1.1rem;
	border: 0;
	display: inline-block
}

.all-xz {
	cursor: pointer
}

.product-all-qx {
	color: #797979;
	font-weight: bold;
}

.all-sl {
	color: #797979;
	display: inline-block;
	margin-left: 8px
}

.product-all-sl {
	position: relative;
	top: 1px
}

.all-product {
	text-align: right;
	float: right
}

.all-product .all-product-a {
	font-size: 1.1rem;
	color: #ffd147;
	font-weight: bolder;
	display: inline-block;
	margin-right: 10px
}

.product-sett {
	float: right;
	width: 6.5rem;
	text-align: center;
	color: #fff;
	background: #ffd147
}

.product-sett-a {
	background: #b2b2b2;
	pointer-events: none
}
/* 购物车为空时 */
.kon-cat {
	display: none;
	-webkit-tap-highlight-color: transparent;
}
.catkon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 3.2rem;
	box-sizing: border-box;
	text-align: center;
	background: #f4f4f4;
	display: table;
	z-index: 100
}
.kon-box {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer
}
.kon-hz {
	width: 50%;
	margin: 0 auto;
}
.kon-box .kon-wz {
	display: block;
	font-size: 1rem;
	color: #aaa;
	margin: 20px 0;
}
.kon-box .kon-lj {
	display: inline-block;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	background: #ffd147;
	color: #fff;
	margin-top: 10px;
}
/* 底部导航栏 */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 13vw;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.6);
}

footer ul {
	display: flex;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 13vw;
	list-style: none;
}

footer ul li {
	width: 25%;
	height: 100%;
}

footer ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

footer ul li:nth-child(3) a i,
footer ul li:nth-child(3) a span {
	color: #f0ba3e;
	font-weight: 700;
}

footer ul li a span {
	margin-top: 5px;
	font-size: 3vw;
}