@font-face {
  font-family: "iconfont"; /* Project id 4043284 */
  src: url('iconfont.woff2?t=1683044516953') format('woff2'),
       url('iconfont.woff?t=1683044516953') format('woff'),
       url('iconfont.ttf?t=1683044516953') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 4vw;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qianbi:before {
  content: "\e636";
}

.icon-chaoshishangpin-bian:before {
  content: "\e632";
}

.icon-shengxian-ganju:before {
  content: "\e611";
}

.icon-switch:before {
  content: "\e612";
}

.icon-fushi-nvzhuang-duosexianmian:before {
  content: "\e627";
}

.icon--tiaozaoshichang:before {
  content: "\e725";
}

.icon-guoji:before {
  content: "\ecaf";
}

.icon-youhuiquan:before {
  content: "\ec69";
}

.icon-jiadian:before {
  content: "\faf2";
}

.icon-zhaobiaopaimai:before {
  content: "\e6f3";
}

.icon-gengduo:before {
  content: "\edc5";
}

.icon-yuyue:before {
  content: "\e644";
}

.icon-shangdian1:before {
  content: "\e67a";
}

.icon-tuangou:before {
  content: "\e631";
}

.icon-zhekou:before {
  content: "\e657";
}

.icon-hongbao:before {
  content: "\e678";
}

.icon-pintuanzhuanqu:before {
  content: "\e64c";
}

.icon-kefu:before {
  content: "\e610";
}

.icon-vip-fill:before {
  content: "\e872";
}

.icon-shoujichongzhi:before {
  content: "\e654";
}

.icon-youjiantou:before {
  content: "\e72a";
}

.icon-qita1:before {
  content: "\e62b";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-erweima:before {
  content: "\e63a";
}

.icon-daifukuan:before {
  content: "\e60d";
}

.icon-shibai:before {
  content: "\e6ce";
}

.icon-chenggong:before {
  content: "\e6cc";
}

.icon-sousuo:before {
  content: "\e60f";
}

.icon-xingyuncao:before {
  content: "\e60e";
}

.icon-shangdian:before {
  content: "\e618";
}

.icon-fanhui:before {
  content: "\e61e";
}

.icon-fenlei:before {
  content: "\e662";
}

.icon-a-ziyuan1:before {
  content: "\e606";
}

.icon-a-ziyuan5:before {
  content: "\e607";
}

.icon-a-ziyuan8:before {
  content: "\e608";
}

.icon-a-ziyuan6:before {
  content: "\e609";
}

.icon-a-ziyuan7:before {
  content: "\e60a";
}

.icon-a-ziyuan26:before {
  content: "\e60b";
}

.icon-a-ziyuan32:before {
  content: "\e60c";
}

